<?xml version="1.0" encoding="UTF-8"?>
<config>    
  <modules>
    <Fanxiang_Membercard>
      <version>0.1.0</version>
    </Fanxiang_Membercard>
  </modules>
  <global>
    <blocks>
      <membercard>
        <class>Fanxiang_Membercard_Block</class>
      </membercard>
    </blocks>     
    <helpers>
      <membercard>
        <class>Fanxiang_Membercard_Helper</class>
      </membercard>
    </helpers>  
  </global>
  <frontend>
    <routers>
      <membercard>
        <use>standard</use>
        <args>
          <module>Fanxiang_Membercard</module>
          <frontName>membercard</frontName>
        </args>
      </membercard>
    </routers>
    <layout>
      <updates>
        <membercard>
          <file>membercard.xml</file>
        </membercard>
      </updates>
    </layout>  

    <events>    
      <customer_login>
        <observers>
          <bind_with_membercard>
            <type>model</type>
            <class>Fanxiang_Membercard_Helper_Data</class>
            <method>loginBindcard</method>
          </bind_with_membercard>
        </observers>
      </customer_login>
      
      <customer_register>
        <observers>
          <register_bind_with_membercard>
            <type>model</type>
            <class>Fanxiang_Membercard_Helper_Data</class>
            <method>registerBindcard</method>
          </register_bind_with_membercard>
        </observers>
      </customer_register>
    </events>
  </frontend>
</config>
